
#imagem {
         text-align: center;
}

#link {
       text-align: center;
}

p {
    color: grey;
    font-size: 50;
    text-align: center;
}

h1{
   color: blue;
   font-size: 50;
   text-align: center;
}

h2{
   color: grey;
   font-size: 40;
   text-align: center;
}
.lista{
       color: blue;
       font-size: 30;
       text-align: center;
}
.lista2{
        color: purple;
        font-size: 30;
        text-align: center;
}

.minhalista {
    color: whitesmoke;
    font-size: 30;
}

.listas {
    background: black;
}

.imagem {
    text-align: center;
    background: black
}


.lista{
    color: whitesmoke;
    font-size: 30;
}

#imagem {
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: blue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;



