
#imagem {
         text-align: center;
}

#link {
       text-align: center;
}

p {
    color: grey;
    font-size: 50;
    text-align: center;
}

h1{
   color: blue;
   font-size: 50;
   text-align: center;
}

h2{
   color: grey;
   font-size: 40;
   text-align: center;
}
.lista{
       color: blue;
       font-size: 30;
       text-align: center;
}
.lista2{
        color: purple;
        font-size: 30;
        text-align: center;
}
